h1 {
  font-family: "Lobster", cursive;
}

a {
  color: rgb(145, 188, 228);
}

.home-page-container {
  margin-top: 150px;
}

.mid-text {
  margin: 5% 0 10% 0 !important;
}

.date-box {
  float: right;
}
