h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Helvetica";
}

.text-color>h1,
h2 {
  color: #ccffbd;
}

.text-color {
  margin: 0 5em;
  height: 100vh;
}

.label-text,
h4 {
  color: #e84545 !important;
}

a {
  color: #364547;
}

a:hover {
  color: #5f8286;
}

.logo {
  margin-left: 0.25em;
}

.home-page-container {
  margin-top: 150px;
}

.mid-text {
  margin: 5% 0 10% 0 !important;
}

.date-box {
  float: right;
}

body {
  background: url('/images/stock-photo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.transactions-list {
  list-style-type: none;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 8%;
  margin: 4em auto;
}