h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Helvetica";
}

a {
  color: #364547;
}

a:hover {
  color: #5f8286;
}

.logo {
  margin-left: 0.25em;
}

.home-page-container {
  margin-top: 150px;
}

.mid-text {
  margin: 5% 0 10% 0 !important;
}

.date-box {
  float: right;
}

body {
  background: url('/images/stock-photo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}